.navbar {
    -fx-background-color: #222831;
    -fx-padding: 0 0 0 0;
    -fx-spacing: 0;
    -fx-alignment: CENTER_LEFT;
    -fx-min-height: 60px;
}

.navbar-logo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #3498db;
    -fx-padding: 0 20 0 20;
}

.navbar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-padding: 0 18 0 18;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-effect: null;
}

.navbar-button.active, .navbar-button:selected, .navbar-button:focused {
    -fx-background-color: #fff;
    -fx-text-fill: #000000;
    -fx-border-color: #fff #fff #051c26 #fff;
    -fx-border-width: 0 0 4 0;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #b0b0b0, 4, 0, 0, 1);
}

.navbar-button:hover {
    -fx-background-color: #393e46;
    -fx-text-fill: #0d3752;
}

.page-bg {
    -fx-background-color: #f5f5f5;
}

.table-header {
    -fx-background-color: #222831;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.table-row-alt {
    -fx-background-color: #e3e6ea;
} 